<div style="padding: 0 40px;">
  <div class="btn btn-primary" ng-click="$ctrl.back()"><i class="glyphicon glyphicon-arrow-left"></i></div>
  <div><view-header tips="'针对单个指标的趋势、分布和对比分析。'" text="'指标分析'"></view-header></div>
  <div>{{$ctrl.indexPath}}</div>
  <div style="clear:both;margin-bottom:20px;">
    <mj-date-picker></mj-date-picker>
    <mj-tree-tab tabs="$ctrl.commercial.tabs" data="$ctrl.commercial.data" width="300" title="商业类型"></mj-tree-tab>
    <mj-tree-tab tabs="$ctrl.space.tabs" data="$ctrl.space.data" width="400" title="空间范围"></mj-tree-tab>
    <input type="text" ng-model="$ctrl.selected" uib-typeahead="state for state in $ctrl.states | filter:$viewValue | limitTo:8" class="form-control" style="display:inline-block;width: 200px;">
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td style="padding: 0px;" class="ng-scope">
          <div class="pull-left ng-binding" style="padding: 8px;background: #F3F7FA;">当日值</div>
          <div class="pull-left ng-binding" style="padding: 8px;">3994人数</div>
        </td>
        <td style="padding: 0;" class="ng-scope">
          <div class="pull-left ng-binding" style="padding: 8px;background: #F3F7FA;">前日值</div>
          <div class="pull-left ng-binding" style="padding: 8px;">4655人数</div>
        </td>
        <td style="padding: 0;" class="ng-scope">
          <div class="pull-left ng-binding" style="padding: 8px;background: #F3F7FA;">日环比</div>
          <div class="pull-left ng-binding" style="padding: 8px;">-0.142%</div>
        </td>
        <td style="padding: 0;" class="ng-scope">
          <div class="pull-left ng-binding" style="padding: 8px;background: #F3F7FA;">周同期值</div>
          <div class="pull-left ng-binding" style="padding: 8px;">0人数</div>
        </td>
        <td style="padding: 0;" class="ng-scope">
          <div class="pull-left ng-binding" style="padding: 8px;background: #F3F7FA;">周同比</div>
          <div class="pull-left ng-binding" style="padding: 8px;">-0.1817%</div>
        </td>
        <td style="padding: 0;" class="ng-scope">
          <div class="pull-left ng-binding" style="padding: 8px;background: #F3F7FA;">月同期值</div>
          <div class="pull-left ng-binding" style="padding: 8px;">26531人数</div>
        </td>
        <td style="padding: 0;" class="ng-scope">
          <div class="pull-left ng-binding" style="padding: 8px;background: #F3F7FA;">月同比</div>
          <div class="pull-left ng-binding" style="padding: 8px;">-0.8495%</div>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="margin-bottom:20px;">
    <uib-tabset justified="true">
      <uib-tab index="0" heading="趋势分析" ng-click="$ctrl.reflow()">
        <div style="padding-top:30px;">
          <highchart id="chart_thred" config="$ctrl.chartThredConfig"></highchart>
        </div>

        <div>
          <table ng-table-dynamic="$ctrl.tableParams1 with $ctrl.cols1" class="mj-table table table-condensed table-bordered table-hover">
            <colgroup>
              <col width="50%" />
              <col width="50%" />
            </colgroup>
            <tr  ng-repeat="row in $data track by $index" ng-click="row.showDetails = !row.showDetails">
              <td data-title="$ctrl.cols1[0]" style="text-align:center;">{{ row.date }}</td>
              <td data-title="$ctrl.cols1[1]" style="text-align:center;">{{ row.value }}</td>
            </tr>
            <tfoot ng-if="$ctrl.isLastPage()">
              <tr>

              </tr>
            </tfoot>
          </table>
        </div>

      </uib-tab>
      <uib-tab index="1" heading="分布分析" ng-click="$ctrl.reflow()">
        <div style="padding-top:30px;">
          <div style="margin-bottom:40px;">
            维度
            <select ng-model="$ctrl.selectedDim" ng-options="dim.name for dim in $ctrl.dimData" ng-change="$ctrl.onDimChange();"></select>
          </div>
          <highchart id="chart_pie" config="$ctrl.chartPieConfig"></highchart>
          <div>
            <table ng-table-dynamic="$ctrl.tableParams2 with $ctrl.cols2" class="mj-table table table-condensed table-bordered table-hover">
              <colgroup>
                <col width="50%" />
                <col width="50%" />
              </colgroup>
              <tr  ng-repeat="row in $data track by $index" ng-click="row.showDetails = !row.showDetails">
                <td data-title="$ctrl.cols2[0]" style="text-align:center;">{{ row.dim }}</td>
                <td data-title="$ctrl.cols2[1]" style="text-align:center;">{{ row.value }}</td>
              </tr>
              <tfoot ng-if="$ctrl.isLastPage()">
                <tr>

                </tr>
              </tfoot>
            </table>
          </div>
          
        </div>
      </uib-tab>
      <uib-tab index="2" heading="对比分析" ng-click="$ctrl.reflow()">
        <div style="padding-top:30px;">
          <div style="margin-bottom:40px;">
            对比指标
            <select ng-model="$ctrl.selectedIndex" ng-options="index.name for index in $ctrl.indexData" ng-change="$ctrl.onIndexChange();"></select>
          </div>
          <highchart id="chart_pie" config="$ctrl.chartCompareConfig"></highchart>
          <div>
            <table ng-table-dynamic="$ctrl.tableParams3 with $ctrl.cols3" class="mj-table table table-condensed table-bordered table-hover">
              <colgroup>
                <col width="40%" />
                <col width="30%" />
                <col width="30%" />
              </colgroup>
              <tr  ng-repeat="row in $data track by $index" ng-click="row.showDetails = !row.showDetails">
                <td data-title="$ctrl.cols[0]" style="text-align:center;">{{ row.date }}</td>
                <td data-title="$ctrl.cols[1]" style="text-align:center;">{{ row.value }}</td>
                <td data-title="$ctrl.cols[2]" style="text-align:center;">{{ row.value2 }}</td>
              </tr>
              <tfoot ng-if="$ctrl.isLastPage()">
                <tr>

                </tr>
              </tfoot>
            </table>
          </div>
          
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
  <div>
  </div>
</div>