<div class="side-bar">
  <div class="list-group">
    <div ui-tree data-drag-enabled="false">
      <ol ui-tree-nodes="" ng-model="$ctrl.list">
        <li ng-repeat="item in $ctrl.list" ui-tree-node>
          <div ui-tree-handle class="tree-node tree-node-content angular-ui-tree-handle list-group-item" style="cursor: default;">
            <a class="btn btn-success btn-xs" data-nodrag="" ng-click="toggle()">
              <span class="glyphicon glyphicon-chevron-down" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
            </a>
            {{item.title}}
          </div>
          <ol ui-tree-nodes="" ng-model="item.nodes" ng-show="!collapsed">
            <li ng-repeat="subItem in item.nodes" ui-tree-node class="list-group-item" ng-class="{active: subItem.active}">
              <div ui-tree-handle style="cursor: pointer;">
                {{subItem.title}}
              </div>
            </li>
          </ol>
          <hr>
        </li>
      </ol>
    </div>
  </div>
</div>